.product {
    @include adaptiveClamp(padding-top, 73, 30);
    &__container {
    }
    &__title {
        text-align: center;
        @include adaptiveClamp(margin-bottom, 52, 20);
    }
    &__swiper {
        margin: auto;
        @include adaptiveClamp(margin-left, 101, 45);
        @include adaptiveClamp(margin-right, 101, 45);
        // max-width: rem(1122);
        overflow: hidden;
    }
    &__wrapper {
        height: 100%;
    }
}

.history {

    &__header {
    }

    &__row {
    }

    &__swiper {
        
    }

    &__wrapper {
    }

    &__slide {
    }

    &__row-slider-button-prev {
    }

    &__slider-button-prev {
    }

    &__row-slider-button-next {
    }

    &__slider-button-next {
    }
}

.slide-product {
    height: auto;
    display: flex;
    align-items: center;
    &__img {
        img {
            width: 100%;
        }
    }
}
.button-round {
}
.red {
}
