.rights {   
    @include adaptiveClamp(padding-top, 85, 40);

    &__container {
    }

    &__title {
        text-align: center;
        @include adaptiveClamp(margin-bottom, 56, 20);
    }

    &__row {
        display: flex;
        margin: 0 rem(-15);
        @media(max-width:1035px){
            flex-wrap: wrap;
            row-gap: rem(20);
        }
    }

    &__item {
        flex: 0 1 33.333%;
        @media(max-width:1035px){
            flex: 0 1 50%;
            &:last-child {
                margin: 0 auto;
            }
        }
        @media(max-width:695px){
            flex: 0 1 100%;
            &:last-child {
                margin: 0;
            }
        }
    }

    &__button-row {
        @include adaptiveClamp(margin-top, 111, 50);
        margin: 0 auto;
        max-width: rem(884);
        @include adaptiveClamp(max-width, 884, 500);

        width: 100%;
        display: flex;
        justify-content: space-between;
        @media(max-width:695px){
            flex-direction: column;
            row-gap: rem(20);
            align-items: center;
        }
    }

    &__button-participation {
        @include adaptiveClamp(max-width, 386, 256);
    }

    &__button-rights {
        @include adaptiveClamp(max-width, 426, 256);
    }
}
.item-rights {
    padding: 0 rem(15);
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        @include adaptiveClamp(width, 89, 59);
        @include adaptiveClamp(margin-top, 25, 15);
    }

    &__title {
        text-align: center;
        @include adaptiveClamp(margin-top, 20, 10);
        p {
            color: $redColor;
        }
    }

    &__text {
        text-align: center;
        max-width: rem(320);
        @include adaptiveClamp(font-size, 25, 15);
        @media(max-width:470px){
            max-width: rem(300);
        }
    }
}
.rights-popup {
    background-color: #11111129;
    display: flex;
    // align-items: center;
    justify-content: center;
    &__button-row {
        display: flex;
        justify-content: right;
    }
    &__button-close {
        cursor: pointer;
        @include adaptiveClamp(width, 30, 25);
    }
    h3 {
        @include adaptiveClamp(font-size, 60, 25);
        font-family: Lobster;
        line-height: normal;
        margin-bottom: rem(15);
        color: rgb(241, 241, 241);
    }
    h4 {
        @include adaptiveClamp(font-size, 30, 18);
        font-weight: 600;
        line-height: normal;
        margin: rem(10) 0 rem(10) 0;
        color: rgb(241, 241, 241);
    }
    
    p {
        color: rgb(241, 241, 241);
        @include adaptiveClamp(font-size, 26, 15);

    }
    &__row {
        max-width: rem(1500);
        max-height: rem(1400);
        background-color: $redColor;
        padding: rem(15);
        // border-radius: 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: auto;
        -ms-overflow-style: none;
        // scrollbar-width: none;
        &::-webkit-scrollbar-thumb {
            background-color: rgb(191, 191, 191);;
          }
    }
    &__row::-webkit-scrollbar {
    }
    &__row::-webkit-scrollbar-track {
        background-color: $redColor;
        border-radius: 0px;
    }

    &__text {
        margin-top: rem(-30);
    }
}

